*.iml
.idea/
.vscode/
.uglify/
.svn/
.history/
node_modules/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
*.swp
*.swo
*.log
*.log.*
.buildpath
.settings
nohup.out
npm-debug.log
yarn.lock
package-lock.json
dist/
build/